html,body,div,img,input{
    margin: 0;
    padding: 0;
}
input{
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
    outline: none;
}
html,body{
    width: 100%;
    height: 100%;
}

#container{
	display: block;
    width:auto;
    padding-left:3%;
	margin: 3em 0;
}
.box_img img{
    width: 100%;
    height: auto;
    display: block;
}
.favorite{
	width:3%;
    position: relative;bottom: 0px;right: 0px;
    float:right;
    border: hidden;
    margin-top: -5%;
    margin-right: 3%;
}
.box_img{
    float: right;
    width: 100%;
    height: auto;
}

#search{
	position: absolute;
	left: 6%;
	top: 1em;
}
input[type="search"]{
	width: 14em;
	height: 2.2em;
	border:solid 1px #DDD8D8;
	border-radius: 11px;
	padding-left: 1em;
	background-image: url(../image/search.png);
	background-size: 1.4em;
	background-repeat: no-repeat;
	background-position: 11.7em;
	
	
}

input[type="search"]:focus{
	border:solid 0.2em #C3E3E9;
}
	
#go_top{
	position: fixed;
	width: 2.5em;
	right: 12px;
	bottom: 12px;
}